# Handle line endings automatically for files detected as text 
# and leave binary files untouched.
* text=auto

# Force LF line endings for certain file types
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.json text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.slnx text eol=crlf
